.default-color0.chart-series-area-line { -fx-stroke: #d1cc21; }
.default-color1.chart-series-area-line { -fx-stroke: #fea419; }
.default-color2.chart-series-area-line { -fx-stroke: #d17c21; }
.default-color3.chart-series-area-line { -fx-stroke: #2181d1; }
.default-color4.chart-series-area-line { -fx-stroke: #0e3bca; }
.default-color5.chart-series-area-line { -fx-stroke: #4d0eca; }
.default-color6.chart-series-area-line { -fx-stroke: #3d1061; }
.default-color7.chart-series-area-line { -fx-stroke: #630b13; }
.default-color8.chart-series-area-line { -fx-stroke: #630b13; }
.default-color9.chart-series-area-line { -fx-stroke: #630b13; }
.default-color10.chart-series-area-line { -fx-stroke: #630b13; }
.default-color11.chart-series-area-line { -fx-stroke: #630b13; }
.default-color12.chart-series-area-line { -fx-stroke: #630b13; }
.default-color13.chart-series-area-line { -fx-stroke: #630b13; }

.default-color0.chart-series-area-fill { -fx-fill: rgba(0, 0, 0, 0); }
.default-color1.chart-series-area-fill { -fx-fill: rgba(0, 0, 0, 0); }
.default-color2.chart-series-area-fill { -fx-fill: rgba(0, 0, 0, 0); }
.default-color3.chart-series-area-fill { -fx-fill: rgba(0, 0, 0, 0); }
.default-color4.chart-series-area-fill { -fx-fill: rgba(0, 0, 0, 0); }
.default-color5.chart-series-area-fill { -fx-fill: rgba(0, 0, 0, 0); }
.default-color6.chart-series-area-fill { -fx-fill: rgba(0, 0, 0, 0); }
.default-color7.chart-series-area-fill { -fx-fill: rgba(83, 37, 40, 0.3); }
.default-color8.chart-series-area-fill { -fx-fill: rgba(83, 37, 40, 0.3); }
.default-color9.chart-series-area-fill { -fx-fill: rgba(83, 37, 40, 0.3); }
.default-color10.chart-series-area-fill { -fx-fill: rgba(83, 37, 40, 0.3); }
.default-color11.chart-series-area-fill { -fx-fill: rgba(83, 37, 40, 0.3); }
.default-color12.chart-series-area-fill { -fx-fill: rgba(83, 37, 40, 0.3); }
.default-color13.chart-series-area-fill { -fx-fill: rgba(83, 37, 40, 0.3); }

